<a href="https://colab.research.google.com/github/shivckr/IBM_attrition-rate/blob/master/Task_1_IBM_Attrition.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SECTION D â€“ Deep Learning with NLP

**Task 1: IBM Attrition**

In [0]:
#upload data 
url = 'https://raw.githubusercontent.com/shivckr/border/master/IBMAttrition.csv'

In [0]:
# import packages 
import numpy as np                                                               # # scientific computing package
import pandas as pd                                                              # package to manipulate dataframe
import matplotlib.pyplot as plt                                                   # Data visualization
%matplotlib inline 
import seaborn as sns                                                             # Data visualization
from sklearn import metrics                                                       # Metrics to evalaute the model

#import Keras Models and Layers
from tensorflow.python.keras.layers import Dense, Dropout
from tensorflow.python.keras.models import Sequential

In [0]:
# crate dataframe
ibm_attrition_data = pd.read_csv(url)

In [0]:
# dataset shape
ibm_attrition_data.shape

(1470, 35)

In [0]:
# data head
ibm_attrition_data.head(1)

   Age Attrition  ... YearsSinceLastPromotion  YearsWithCurrManager
0   41       Yes  ...                       0                     5

[1 rows x 35 columns]

In [0]:
#data statistic
ibm_attrition_data.describe()

In [0]:
#missing value
ibm_attrition_data.isnull().sum()

In [0]:
#creating one hot encoding for categorical feature
categorical_features = ['Attrition','BusinessTravel','Department','EducationField','Gender','JobRole','MaritalStatus', 'OverTime', 'Over18']

In [0]:
Attrition_dummy = pd.get_dummies(ibm_attrition_data['Attrition'],drop_first=True, prefix='Attrition')

BussinessTravel_dummy = pd.get_dummies(ibm_attrition_data['BusinessTravel'],drop_first=True, prefix='BusinessTravel')

Department_dummy = pd.get_dummies(ibm_attrition_data['Department'],drop_first=True, prefix='Department')

EducationField_dummy = pd.get_dummies(ibm_attrition_data['EducationField'],drop_first=True, prefix='EducationField')

Gender_dummy = pd.get_dummies(ibm_attrition_data['Gender'],drop_first=True, prefix='Gender')

JobRole_dummy = pd.get_dummies(ibm_attrition_data['JobRole'],drop_first=True, prefix='JobRole')

MaritalStatus_dummy = pd.get_dummies(ibm_attrition_data['MaritalStatus'],drop_first=True, prefix='MaritalStatus')

OverTime_dummy = pd.get_dummies(ibm_attrition_data['OverTime'],drop_first=True, prefix='OverTime')

Over18_dummy = pd.get_dummies(ibm_attrition_data['Over18'],drop_first=True, prefix='Over18')

In [0]:
# merge all dummified categorical columns
ibm_attrition_data = pd.concat([ibm_attrition_data,Attrition_dummy,BussinessTravel_dummy, Department_dummy,EducationField_dummy,Gender_dummy,JobRole_dummy,MaritalStatus_dummy,OverTime_dummy,Over18_dummy],1)

In [0]:
#delete all non dummified columns
ibm_attrition_data =ibm_attrition_data.drop(categorical_features,axis = 1)

In [0]:
ibm_attrition_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 48 columns):
Age                                  1470 non-null int64
DailyRate                            1470 non-null int64
DistanceFromHome                     1470 non-null int64
Education                            1470 non-null int64
EmployeeCount                        1470 non-null int64
EmployeeNumber                       1470 non-null int64
EnvironmentSatisfaction              1470 non-null int64
HourlyRate                           1470 non-null int64
JobInvolvement                       1470 non-null int64
JobLevel                             1470 non-null int64
JobSatisfaction                      1470 non-null int64
MonthlyIncome                        1470 non-null int64
MonthlyRate                          1470 non-null int64
NumCompaniesWorked                   1470 non-null int64
PercentSalaryHike                    1470 non-null int64
PerformanceRating                    1470 non-null int64
RelationshipSatisfaction             1470 non-null int64
StandardHours                        1470 non-null int64
StockOptionLevel                     1470 non-null int64
TotalWorkingYears                    1470 non-null int64
TrainingTimesLastYear                1470 non-null int64
WorkLifeBalance                      1470 non-null int64
YearsAtCompany                       1470 non-null int64
YearsInCurrentRole                   1470 non-null int64
YearsSinceLastPromotion              1470 non-null int64
YearsWithCurrManager                 1470 non-null int64
Attrition_Yes                        1470 non-null uint8
BusinessTravel_Travel_Frequently     1470 non-null uint8
BusinessTravel_Travel_Rarely         1470 non-null uint8
Department_Research & Development    1470 non-null uint8
Department_Sales                     1470 non-null uint8
EducationField_Life Sciences         1470 non-null uint8
EducationField_Marketing             1470 non-null uint8
EducationField_Medical               1470 non-null uint8
EducationField_Other                 1470 non-null uint8
EducationField_Technical Degree      1470 non-null uint8
Gender_Male                          1470 non-null uint8
JobRole_Human Resources              1470 non-null uint8
JobRole_Laboratory Technician        1470 non-null uint8
JobRole_Manager                      1470 non-null uint8
JobRole_Manufacturing Director       1470 non-null uint8
JobRole_Research Director            1470 non-null uint8
JobRole_Research Scientist           1470 non-null uint8
JobRole_Sales Executive              1470 non-null uint8
JobRole_Sales Representative         1470 non-null uint8
MaritalStatus_Married                1470 non-null uint8
MaritalStatus_Single                 1470 non-null uint8
OverTime_Yes                         1470 non-null uint8
dtypes: int64(26), uint8(22)
memory usage: 330.3 KB

In [0]:
# prepare data
X = ibm_attrition_data.drop(['Attrition_Yes'],axis=1)
y = ibm_attrition_data.Attrition_Yes

X_train, X_test, y_train, y_test = train_test_split(X, y)

In [0]:
# train & compile model 
model = Sequential()
model.add(Dense(16, input_dim=47, activation='relu'))
model.add(Dense(12, activation='relu'))
model.add(Dense(2, activation='sigmoid'))
model.compile(loss='sparse_categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
history = model.fit(X_train, y_train, epochs=100, batch_size=64)

In [0]:
model.summary()

Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_10 (Dense)             (None, 16)                768
_________________________________________________________________
dense_11 (Dense)             (None, 12)                204
_________________________________________________________________
dense_12 (Dense)             (None, 2)                 26
=================================================================
Total params: 998
Trainable params: 998
Non-trainable params: 0
_________________________________________________________________

In [0]:
# evaluate  model
scores = model.evaluate(X_test, y_test, verbose=0)
print(scores)

[0.6931471824645996, 0.86413044]

In [0]:
#model.save('/home/shiv/upx/folder_name/ibm_atrritoin_model')

In [0]:
# model prediction
y_pred